h1 {text-align: center; }
#title1 {color: blueviolet; text-align: center; font-family: 'Kablammo',arial; font-size: 40px;
}

li {font-size: medium;font-family:Verdana, Geneva, Tahoma, sans-serif}
h2 {font-size:30px;}